* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.search-form {
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  padding: 0.5rem;
  width: 50%;
  border: 2px solid rgb(128, 128, 128);
  border-radius: 3px;
}

.image-article ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 50%;
  background-color: rgba(128, 128, 128, 0.274);
  border-radius: 3px;
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  margin: 0.5rem;
  list-style: none;
  background-color: azure;
  border-radius: 3px;
  border: 2px solid rgb(128, 128, 128);
}

.image-card li {
  list-style: none;
}

.image-card img {
  max-width: 90%;
  max-height: 90%;
}
