* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

header {
  margin: 0.5rem;
  margin-top: 1.5rem;
}

.search-form {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 50%;
  border: 2px solid rgb(128, 128, 128);
  border-radius: 3px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-form button {
  padding: 0 0.5rem;
  font-size: 1rem;
}

.input-text {
  font-size: 1rem;
}

.image-article ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 0.5rem;
  width: 80%;
  border-radius: 3px;
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;

  list-style: none;
  background-color: rgba(230, 202, 45, 0.127);
  border-radius: 3px;
  border: 2px solid rgb(128, 128, 128);
}

.image-card li {
  list-style: none;
}

.image-card img {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

.loading-modal {
  position: absolute;
  top: 30%;
  left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  background-color: white;
  border-radius: 3px;
  border: 2px solid rgb(128, 128, 128);
  z-index: 2;
}
